[Unit]
Description=Self-Defense EDR Launcher
After=network.target

[Service]
ExecStart=/usr/local/sbin/edr_main
Type=simple

[Install]
WantedBy=multi-user.target