[Unit]
Description=Self Defense Daemon

[Service]
ExecStart=/usr/local/bin/SentinelEDR
Restart=no
User=root
ProtectSystem=full
NoNewPrivileges=true
KillMode=control-group
KillSignal=SIGTERM
TimeoutStopSec=2

[Install]
WantedBy=multi-user.target
