[Unit]
Description=Self Defense Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/SentinelEDR
Restart=always
RestartSec=2
User=root
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
